<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UtilidadesLince.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <UtilidadesLince.My.MySettings>
            <setting name="BDLince" serializeAs="String">
                <value>C:\LinceV3\</value>
            </setting>
            <setting name="NombreBDArt" serializeAs="String">
                <value>ARTICULO</value>
            </setting>
            <setting name="NombreBDGru" serializeAs="String">
                <value>GRUPOS</value>
            </setting>
            <setting name="ColJust1" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust2" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust3" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust4" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust5" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust6" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust7" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust8" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust9" serializeAs="String">
                <value />
            </setting>
            <setting name="ColJust10" serializeAs="String">
                <value />
            </setting>
            <setting name="Just1" serializeAs="String">
                <value />
            </setting>
            <setting name="Just2" serializeAs="String">
                <value />
            </setting>
            <setting name="Just3" serializeAs="String">
                <value />
            </setting>
            <setting name="Just4" serializeAs="String">
                <value />
            </setting>
            <setting name="Just5" serializeAs="String">
                <value />
            </setting>
            <setting name="Just6" serializeAs="String">
                <value />
            </setting>
            <setting name="Just7" serializeAs="String">
                <value />
            </setting>
            <setting name="Just8" serializeAs="String">
                <value />
            </setting>
            <setting name="Just9" serializeAs="String">
                <value />
            </setting>
            <setting name="Just10" serializeAs="String">
                <value />
            </setting>
        </UtilidadesLince.My.MySettings>
    </userSettings>
</configuration>
